.app {
  background-color:rgb(93, 153, 153);
  min-height: 500px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.tweet{
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  border: 2px purple solid
}


